.fa-shopping-cart{
    font-size: 25px !important;
    color: white;
}
.nav-link{
    color:  white !important;
}
.page-footer{
    color: white !important;
}
.footer-copyright{
    background-color: rgb(5, 5, 48);
}